<p>Universities amount: {{univercities.length}}</p>


<form>
  <mat-form-field>
    <mat-label>Select by country</mat-label>
    <select matNativeControl required
      name="country"
      [(ngModel)]="country">
      <option
        *ngFor="let country of countries"
        [value]="country.value">{{country.display}}</option>

    </select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start typing ... </mat-label>
    <input matInput type="text" [(ngModel)]="query"
      name="query"
      (keydown)="filterByName(query)">
  </mat-form-field>

  <p>
  <button
    (click)="getUnivercities()"
    mat-raised-button
    type="button">Reload univercities</button>
  <button
    (click)="openCreatePage()"
    mat-raised-button
    type="button">Add univercity</button>
  </p>

</form>

<ul>
  <li
    *ngFor="let university of univercities"
  >
    <span>{{university.id}}</span>
    <span>{{university.name}}</span>
    <span>{{university.country}}</span>
    <a
      *ngIf="university?.webPages?.length"
      target="_blank"
      [href]="university.webPages[0]"
    >Link on website</a>
    <button (click)="deleteUnivercity(university.id)">Delete</button>
  </li>
</ul>
