
  <header>

    <div class="img-wrapper">
      <img src="/assets/logo.png" alt="">
    </div>

    <ul>
      <li>Products</li>
      <li class="inner-block"
        (mouseenter)="openBlock(0)"
        (mouseleave)="hideBlock(0)">
        <span>Solutions</span>
        <app-header-hover-block
          *ngIf="blocksOpen[0]"
        ></app-header-hover-block>
      </li>

      <li
        [routerLink]="['/material']"
      >Material</li>

      <li>Pricing</li>
      <li class="inner-block"
          (mouseenter)="openBlock(1)"
          (mouseleave)="hideBlock(1)">
        <span>Resources</span>
        <app-header-hover-block
          *ngIf="blocksOpen[1]"
        ></app-header-hover-block>
      </li>
    </ul>


    <div class="btns-wrapper">
      <button>
        Login
      </button>

      <button>
        Book a demo
      </button>
    </div>
  </header>



                                     <!-- Request Method

  C  Create Add   New    Insert    | POST
  R  Get    Read  Load   Retrieve  | GET
  U  Update Edit  Change Modify    | PUT PATCH POST
  D  Delete Remove                 | DELETE -->
