 <footer>

    <div class="row">
      <ul>
        <h3>Products</h3>
        <li>Products</li>
        <li>Solutions</li>
        <li>Pricing</li>
        <li>Resources</li>
      </ul>

      <ul>
        <h3>Products</h3>
        <li>Products</li>
        <li>Solutions</li>
        <li>Pricing</li>
        <li>Resources</li>
      </ul>

      <ul>
        <h3>Products</h3>
        <li>Products</li>
        <li>Solutions</li>
        <li>Pricing</li>
        <li>Resources</li>
      </ul>

      <ul>
        <h3>Products</h3>
        <li>Products</li>
        <li>Solutions</li>
        <li>Pricing</li>
        <li>Resources</li>
      </ul>
    </div>
    <div class="row">
      <div class="rewards">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
      <div class="links">
        <p>Fuel 2019—2024. All Rights Reserved.</p>
        <p>
          Design by
          <a href="https://www.commercialmagic.agency/?ref=land-book.com">Commercial Magic.</a>
          <a href="https://www.commercialmagic.agency/?ref=land-book.com">Privacy Notice</a>
          &
          <a href="https://www.commercialmagic.agency/?ref=land-book.com">Terms</a>
        </p>
        <p>
          Got questions?
          <a href="mailto:info@fuelfinance.me">info&#64;fuelfinance.me</a>
        </p>
      </div>
      <div class="social-icons">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>


  </footer>
