.wrapper {
  padding: 5vw 20vw;
  background-color: #f3f3d8;
  border-radius: 20px;
  margin: 2vw;
}

.form {
  display: flex;
  flex-direction: column;
}

button {
  width: 200px;
  margin: 10px auto;
}