
<div class="bg-color">


  <div class="messager">
    <img class="messager-image" src="/assets/messager.svg">
  </div>


  <section class="green-warning">

    <a href="https://www.facebook.com/">
      <p>Early-stage founder? Our new free product is live! Try it now.</p>
    </a>
  </section>

  <main class="container">
    <app-header></app-header>

    <app-counter></app-counter>

    <app-powerful></app-powerful>

    <app-more-services></app-more-services>

    <app-form></app-form>

    <app-footer></app-footer>
  </main>

</div>
