



<section class="input-types birthday">

  <div class="wrapper">
    <label>Enter your birthday:</label>
    <input type="date" [(ngModel)]="birthday">

    <button (click)="calculateAge()">Calculate</button>

    <label>Your age is: </label>
    <label> {{age}}</label>
  </div>

</section>

<section class="input-types">
  <div class="wrapper">
    <label>Input type=text:</label>
    <input type="text">

    <label>Input type=number:</label>
    <input type="number">

    <label>Input type=password:</label>
    <input type="password">

    <label>Input type=email:</label>
    <input type="email">

    <label>Textarea:</label>
    <textarea rows="5"></textarea>

    <label>Input type=date:</label>
    <input type="date">

    <label>Input type=time:</label>
    <input type="time">

    <label>Input type=tel:</label>
    <input type="tel">
  </div>

</section>

<table>
  <thead>
    <tr>
      <th></th>
      <th class="red round-first">Universal Bank monobank</th>
      <th>Банк 1</th>
      <th>Банк 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Universal Bank monobank</th>
      <td class="red">До 62 дtdнів</td>
      <td>До 55 днів</td>
      <td>До 62 днів</td>
    </tr>
    <tr>
      <th>Universal Bank monobank</th>
      <td class="red">До 62 днів</td>
      <td>До 55 днів</td>
      <td>До 62 днів</td>
    </tr>
    <tr>
      <th>Universal Bank monobank</th>
      <td class="red">До 62 дtdнів</td>
      <td>До 55 днів</td>
      <td>До 62 днів</td>
    </tr>
    <tr>
      <th>Universal Bank monobank</th>
      <td class="red">До 62 днів</td>
      <td>До 55 днів</td>
      <td>До 62 днів</td>
    </tr>
    <tr>
      <th>Universal Bank monobank</th>
      <td class="red round-last">До 62 дtdнів</td>
      <td>До 55 днів</td>
      <td>До 62 днів</td>
    </tr>
  </tbody>
</table>



<div class="bg-color">


  <div class="messager">
    <img class="messager-image" src="/assets/messager.svg">
  </div>


  <section class="green-warning">

    <a href="https://www.facebook.com/">
      <p>Early-stage founder? Our new free product is live! Try it now.</p>
    </a>
  </section>

  <main class="container">
    <app-header></app-header>

    <app-counter></app-counter>

    <app-powerful></app-powerful>

    <app-more-services></app-more-services>

    <app-form></app-form>

    <app-footer></app-footer>
  </main>

</div>
