
<section class="powerful">
  <h1>Powerful dashboards and financial services for e-commerce <span>businesses</span></h1>

  <section class="text-image">
    <p>
     Selling on your website, via Amazon, Shopify, Etsy, brick and mortar retail, and more? We got you covered. Managing and forecasting inventory, planning for seasonality, diving deep into unit economics is music to our ears. We helped more than one business grow faster, and we're sure we can help you too.
    </p>
    <img class="powerful-image" src="/assets/image.png">
  </section>
</section>
