h1 {
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 60px
}

h1 span {
  color: yellow;
}

.powerful {
  padding: 60px 0;
}

.powerful-image {
  display: block;
}

section.text-image {
  display: flex;
  gap: 100px;

  p {
    font-size: 30px;
    line-height: 1.5;
    color: #a4a4a4;
  }
}

.text-image {
  position: relative;
  z-index: 1;
}

img {
  width: 550px;
}